table {
    height: 550px;
    width: 700px;
    border-collapse: collapse;
}
#infoForm{
    margin-left: 70px; display: flex;justify-content: center;background-color: rgb(247, 247, 247);border: rgb(221, 221, 221);
}
.error{
    font-weight:600;
    font-size: 12px;
    color: red;
    margin-left:12%;
}
.line{
    margin-left: 10px;
    height: 34px;
}
.input-item{
    width: 66.6666%;
    border-radius: 4px;
    border: 1px solid rgb(204, 204, 204);
    height: 34px;
    padding: 6px 12px;
    line-height: 10px;
    width: 66.6666%;
}
/* #pttt{
    width: 66.6666%;
    border-radius: 4px;
} */
#pttt{
    width: 66.6666%;
    border-radius: 4px;
    padding: 5px;
}
textarea{
    border-radius: 4px;
    border: 1px solid rgb(204, 204, 204);
    max-width: 366px;
    width: 66.6666%;
}
input,textarea{
    outline: none;
}
.paraitem{
    font-size: 11px;
    font-style: italic;
}
.create-update{
    background: rgb(0, 182, 240);
    color: rgb(255, 255, 255);
    font-size: 13px;
    padding: 9px 35px;
    border-radius: 2px;
    cursor: pointer;
    border: none;
}
.logo img{
    width: 120px;
    padding-right: 10px;
}
.info{
    border-left: 1px solid black;
    padding-left: 10px;
    height: 20px;
    font-size: 20px;
    position: relative;
    top: 10px;
}